.all-posts {
    /* padding-top: 30px; */
    margin: 0 auto;
    margin-bottom: 40px;
    /* min-height: calc(100vh - 50px); */
    position: relative;
}

.post-top {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-card {
    /* margin-top: 40px !important; */
    width: 60%;
    height: 598x;
    border: 0.5px solid #dbdbdb;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
    flex-direction: column;
}

.post-mid {
width: 100%;
}

.post-img {
    max-height: 470px;
    min-height: 600px;
    width: 100%;
    object-fit: cover;
    user-select: none;
}

.post-user-img {
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.post-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 8px;
}
