.all-posts {
    padding-top: 5px;
    margin: 0 auto;
    padding-bottom: 20px;
    min-height: calc(100vh - 50px);
    position: relative;
    background-color: #fafafa;
}

.post-card {
    margin-top: 5em !important;
    width: 50%;
    height: auto;
    border: 0.5px solid #dbdbdb;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #fafafa;
    position: relative;
    flex-direction: column;
}

.post-top {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-user-img {
    border-radius: 50%;
    height: 38px;
    width: 38px;
}

.post-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
}

.post-mid {
    width: 100%;

}

.post-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;
}

.post-description, .post-icons {
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    overflow-wrap: break-word;
}

.p-input-comment {
    border: none;
    background-color: #fafafa;
    font-size: 14px;
    width: 30em;
    outline: none;
}

.p-input-comment:focus {
    outline: none;
}

.post-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-icons {
    cursor: pointer;
}
.post-unlike {
    cursor: pointer;
}
