.all-posts {
    padding-top: 5px;
    margin: 0 auto;
    /* margin-bottom: 20px; */
    /* min-height: calc(100vh - 50px); */
    position: relative;
    background-color: #fafafa;
}

.post-main {

}

.post-card {
    margin-top: 40px !important;
    width: 60%;
    height: 598x;
    border: 0.5px solid #dbdbdb;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #fafafa;
    position: relative;
    flex-direction: column;
}

.post-top {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-user-img {
    border-radius: 50%;
    height: 38px;
    width: 38px;
}

.post-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
}

.post-mid {
    width: 100%;

}

.post-img {
    max-height: 470px;
    min-height: 600px;
    width: 100%;
    object-fit: cover;
    user-select: none;
}

.post-description, .post-icons {
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
}
