.new-post-main {
    height: 80vh;
    width: 55vw;
    background-color: white !important;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    animation: popup 400ms forwards;
}
