/* TODO Add site wide styles */
* {
    /* margin: 0;
    padding: 0; */
    /* box-sizing: border-box; */
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    /* color: #555555;*/
}

body {
    background-color: #fafafa;
}

.login-about {
    display: flex;
    position: absolute;
    margin-top: 10px;
    font-size: 11px;
    gap: 2.5px;
    bottom: 40px;
    margin: 0 auto;
    width: max-content;
}

.login-about>* {
    color: #8e8e8e !important;
}

.l-copyright {
    padding: 0.3em;
    position: absolute;
    color: #8e8e8e;
    cursor: pointer;
    margin-top: 10px !important;
    font-size: 11px;
    display: flex;
    margin: 0 auto;
    bottom: 30px;
    width: max-content;
}

footer {
    display: flex;
    gap: 2em;
    justify-content: center;
    color: #8e8e8e;
    position: relative;
    bottom: 1em;
    margin-top: 1.5em;
    font-size: 0.8em;
}
 a {
    text-decoration: none;
    color: #8e8e8e;;
 }
