.post-comment-main {
    /* overflow-wrap: break-word; */
    width: 100%;
}
.post-comment-lists {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 5px 15px;
    /* overflow-wrap: break-word; */
}
.input-comments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-top: 1px solid rgb(224, 222, 222);
    background-color: #fafafa;
    height: 50px;

}
