.post-comment-main {
    padding: 8px;
}
.input-comments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    border-top: 1px solid rgb(224, 222, 222);
    margin-top: 8px;
}

.comment-submit {
    /* padding-right: 20px; */
}
