/* .home-page {
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: row;
    width: 975px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
} */
