 .hide-options {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.edit-post-desc {
    width: 30vw;
    height: 30vh;
    border: hidden;
    background-color: #fafafa;
    padding: 10px;
}

.edit-post-desc:focus {
    outline: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h3 {
    width: fit-content;
    margin: auto;
    padding-bottom: 5px;
}
