 .hide-options {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}
.edit-post {
    border-bottom: 1px, solid, rgb(31, 27, 27);
}

.edit-post-desc {
    width: 60vw;
    height: 30vh;
    border: hidden;
    background-color: #fafafa;
}

.edit-post-desc:focus {
    outline: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
