.close-modal {
    position: fixed !important;
    margin-right: 10px;
    margin-top: 10px;
    right: 0 !important;
    top: 0 !important;
    margin-right: auto;
    color: white;
}

.close-modal-img {
    height: 35px;
    width: 35px;
    /* cursor: pointer; */
}

.new-post-main {
    height: 80vh;
    width: 55vw;
    background-color: white !important;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    animation: popup 400ms forwards;
}
.new-post-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 42px;
    border-bottom: 0.5px solid #dbdbdb;
}

.new-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
}

.new-submit {

}

.new-post-bottom {
    display: flex;
    flex-direction: row;
}

.post-bottom-left {
    width: 37.5vw;
    border-right: 0.5px solid #dbdbdb;
    height: calc(80vh - 42px);
}

.new-p-upload {
    width: 158px;
    height: 30px;
    background-color: #0095f6;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    user-select: none;
}

.new-p-upload:active {
    opacity: 0.9;
}

.preview-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.new-user-img {
    height: 28px;
    width: 28px;
    object-fit: cover;
    border-radius: 50%;
    user-select: none;
}

.post-icon {
    cursor: pointer;
}
